.char-card{
    display: flex;
    /* height: 200px; */
    width: 30%;
    margin-bottom: 48px;
}

/* .card-image{
    max-height: 250px!important;
} */

.fit-content{
    height: fit-content;
}

.card-data{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.card h3{
    color: green;
    margin: 0;
    padding: 0;
}

.card p{
    margin: 0;
    padding: 0;
}

.char-status{
    display: flex;
    align-items: baseline;
}

.char-info-title{
    color: gray;
    font-size: small;
    font-weight: bold;
    margin: 0;
}

.char-info{
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}

.status {
    height: 5px;
    width: 5px;
    border-radius: 100px;
    margin-right: 5px;

}

.alive{
    background-color: green;
}

.dead{
    background-color: red;
}

.unknown{
    background-color: gray;
}
