html{
  scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  position: relative;
  text-align: center;
}

#top-icon{
  border-radius: 90px;
  width: 30px;
  height: 30px;
}

#page-icon{
  text-align: left;
  margin: 5px 0 0 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

h1 {
  color: #105718;
  font-weight: bolder;
  font-family: "Konkhmer Sleokchher", cursive;
  margin: 0 0 9px 0;
  font-size: 3rem;
}

#page-title {
  position: static;
  text-align: center;
}

#search {
  width: 40%;
  height: 2rem;
  border-radius: 9px;
  padding: 10px;
  border: 2px solid #cfcccc;
  background-image: url(../images/search.png);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 1.2rem;
  padding-right:3rem ;
}

/* #cards-container{
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-content: baseline;
  margin-top: 100px;
  justify-content: space-around;

} */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#img-footer{
  height: 350px;
}

.separator{
  display: block;
  width: 80%;
  background-color: rgb(8, 151, 8);
  opacity: 80%;
  margin-bottom: 48px;
  height: 1px;
}

#page-footer{
  background-color: #1f2821;
  width: 100%;
  color: #848484;
}

#overall-data{
  display: flex;
  justify-content: center;
  height: 200px;
}

#overall-data p{
  margin: 48px 16px;
}

#copyright{
  display: flex;
  justify-content: center;
}

/* #page-nav{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: green;
  padding: 8px;
  border-radius: 40px;
} */

/* #page-nav button{
  background-color: #11a722;
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
  margin: 2px 1px;
} */

/* #page-nav button:hover {
  background-color: #58d667;

} */

/* #page-nav button:disabled{
  background-color: #0f4214;
  cursor: default;
} */

.btn-disabled{
  color: gray!important;
  cursor: default;
}

#not-found{
  display: flex;
  align-items: center;
  margin: 56px 0;
}

#img-not-found{
  height: 250px;
}

#not-found h2{
  color: green;
}